header {
    background-color: rgb(95, 133, 117);

}

footer {
    background-color: rgb(95, 133, 117);
    text-align: center;
    color: whitesmoke;
}

.scoreboard {
    background-color: rgb(180, 196, 36);
}